{% extends 'base.html' %}
{% block content %}
<h2>Listado de Instancias</h2>

<a href="/instancias/nuevo/">Nueva Instancia</a>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Configuración</th>
            <th>Horas</th>
            <th>Costo Total</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for i in instancias %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.cliente_nombre }}</td>
            <td>{{ i.configuracion_nombre }}</td>
            <td>{{ i.horas }}</td>
            <td>Q {{ i.costo_total }}</td>
            <td>{{ i.estado }}</td>
            <td>
                {% if i.estado == "VIGENTE" %}
                    <a href="/instancias/cancelar/{{ i.id }}">Cancelar</a>
                {% else %}
                    —
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
