{% extends 'base.html' %}
{% block content %}

<!--ERRORES & ALERTS-->

{% if error %}
<div class="alert alert-error">
    ⚠️ {{ error }}
</div>
{% endif %}

{% if warning %}
<div class="alert alert-warning">
    ⚠️ {{ warning }}
</div>
{% endif %}

{% if info %}
<div class="alert alert-info">
    ℹ️ {{ info }}
</div>
{% endif %}

<h2>Nueva Instancia</h2>

<form method="POST">
    {% csrf_token %}
    <label>Cliente:</label>
    <select name="cliente_id">
        {% for c in clientes %}
        <option value="{{ c.id }}">{{ c.nombre }}</option>
        {% endfor %}
    </select><br>

    <label>Configuración:</label>
    <select name="configuracion_id">
        {% for cfg in configuraciones %}
            <option value="{{ cfg.id }}">{{ cfg.nombre }}</option>
        {% endfor %}
    </select>
    <br>

    <label>Fecha de inicio:</label>
    <input type="datetime-local" name="fecha_inicio" class="form-control">

    <label>Fecha final:</label>
    <input type="datetime-local" name="fecha_final" class="form-control">

    <!-- campo opcional -->
    <label>Horas (si no usas fechas):</label>
    <input type="number" name="horas" step="0.1" min="0">


    <button type="submit">Crear Instancia</button>
</form>
{% endblock %}
