{% extends 'base.html' %}
{% block content %}
<h2>Subir Configuración XML Completa</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="archivo">Archivo XML:</label>
    <input type="file" name="archivo" id="archivo" accept=".xml" required>
    <br><br>
    <button type="submit">Cargar Configuración</button>
</form>

{% if messages %}
<div style="margin-top:20px;">
    {% for message in messages %}
        <p class="alert {{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
