{% extends "base.html" %}
{% block title %}Facturas{% endblock %}
{% block content %}

<!--ERRORES & ALERTS-->

{% if error %}
<div class="alert alert-error">
    ⚠️ {{ error }}
</div>
{% endif %}

{% if warning %}
<div class="alert alert-warning">
    ⚠️ {{ warning }}
</div>
{% endif %}

{% if info %}
<div class="alert alert-info">
    ℹ️ {{ info }}
</div>
{% endif %}

<h2>Listado de Facturas</h2>

<a href="{% url 'descargar_facturas' %}" class="btn">Descargar XML</a>

<table border="1" cellspacing="0" cellpadding="8">
    <tr>
        <th>Cliente</th>
        <th>Correo</th>
        <th>Total</th>
    </tr>
    {% for factura in facturas %}
    <tr>
        <td>{{ factura.cliente }}</td>
        <td>{{ factura.correo }}</td>
        <td>Q {{ factura.total }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="3">No hay facturas registradas</td></tr>
    {% endfor %}
</table>
{% endblock %}
