{% extends "base.html" %}

{% block title %}Recursos{% endblock %}

{% block content %}
<h2>Listado de Recursos</h2>

<a href="{% url 'crear_recurso' %}">Nuevo Recurso</a>

<table border="1" cellpadding="6">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Abreviatura</th>
        <th>Métrica</th>
        <th>Tipo</th>
        <th>Valor x Hora</th>
        <th>Acciones</th>
    </tr>
    {% for r in recursos %}
    <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.nombre }}</td>
        <td>{{ r.abreviatura }}</td>
        <td>{{ r.metrica }}</td>
        <td>{{ r.tipo }}</td>
        <td>Q {{ r.valor_x_hora|floatformat:2 }}</td>
        <td>
            <a href="{% url 'eliminar_recurso' r.id %}">Eliminar</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="7">No hay clientes registrados.</td></tr>
    {% endfor %}
</table>
{% endblock %}